* {
	box-sizing: border-box;

	font-family: "Inter", sans-serif;
}

html {
	
	background-image: url(assets/blue-blob.svg), url(assets/yellow-blob.svg);
	background-repeat: no-repeat;
	background-position: left 100%, right 0%;
	background-size: 110px, 270px;
	background-color: #f5f7fbd7;
	margin: 0;
    padding: 0;
}

body {
	min-height: 100vh;
	margin: 0;
    padding: 0;
}


.intro {
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15%;
	color: #293264;
	font-family: "Karla", sans-serif;
}

.intro--text {
	font-family: "Inter", sans-serif;
	margin-top: 10px;
}

.intro--button {
	margin-top: 20px;
	width: 193px;
	height: 52px;
	background: #424f88;
	border-radius: 12px;
	font-size: 16px;
	text-align: center;
	color: #f5f7fb;
	border: none;
	outline: none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
  	cursor: pointer;
}

.intro--button:hover,
.check--answers:hover {
	background-color: #71816D;
	box-shadow: 0px 15px 20px #40493e;
	color: black;
	transform: translateY(-2px);
}

.question--container {
	display: flex;
	flex-direction: column;
	width: 60%;
	text-align: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 10px;
}

.main-text {
	font-size: 20px;
	color: #293264;
	font-family: "Karla", sans-serif;
}

.answers > button {
	border: 0.8px solid #293264;
	padding: 6px;
	border-radius: 8px;
	background-color: #f5f7fbd7;
	margin: 7.5px;
	margin-top: 15px;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	text-align: center;
	cursor: pointer;

}

.answers > input {
	border: 0.8px solid #293264;
	padding: 6px;
	border-radius: 8px;
	background-color: #f5f7fbd7;
	margin: 7.5px;
	margin-top: 15px;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	max-width: 330px;
	white-space: normal;
}

.line {
  margin-top: 10px;
	width: 70%;
	border: 0.794239px solid #dbdef0;
	transform: rotate(-0.05deg);
}

.app--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 12px;
}

.actions h1 {
	font-size: 22px;
}

.loading {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 30vh;
}

.check--answers {
  	margin-top: 20px;
	width: 193px;
	height: 52px;
	background: #424f88;
	border-radius: 12px;
	font-size: 16px;
	text-align: center;
	color: #f5f7fb;
	border: none;
	outline: none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
  cursor: pointer;
}



@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.question {
		margin-top: 15px;
		font-size: 16px;
	}

	.intro {
		padding-top: 30%;
	}
}